<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="https://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" xmlns:th="https://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" xmlns:th="https://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="https://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/theme.css}">
</head>
<body>
<div class="topnav">
    <a class="active" href="/">GroupMe</a>
    <a style="float: right" href="/signup">Sign Up</a>
    <a style="float: right" href="/login">Login</a>
</div>

<p style="text-align: center">GroupMe is a tool designed for
    forming and managing teams for projects, and collaborative
    assignments.</p>

<script src="" async defer></script>
</body>
</html>