<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Forget Password</title>
</head>
<body>
<ul>
    <li class="reset"><a href="#resetPassword"
                         style="text-align: center"> GroupMe </a></li>

</ul>
<h2 style="text-align: center">Reset Password</h2>
<form name="resetPasswordForm" th:action="@{/resetPassword}" method="post">
    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <td colspan="2"><h3 style="text-align: center">Enter new password</h3></td>
        </tr>
        <tr>
            <td align="right">Email</td>
            <td><input type="email" name="email" th:value="${email}"/></td>
        </tr>
        <tr>
            <td align="right">Password</td>
            <td><input type="password" name="password" required/></td>
        </tr>
        <tr>
            <td align="right">Confirm Password</td>
            <td><input type="password" name="confirmPassword" required/></td>
        </tr>
        <tr>
            <td align="right"></td>
            <td><input type="submit" value="Submit"/></td>
        </tr>

    </table>
    <p style="text-align: center">Email doesn't exist!</p>
</form>
</body>
</html>