<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
            crossorigin="anonymous">
    <link
            href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
            rel="stylesheet" crossorigin="anonymous">
    <title>Reset Password</title>
</head>
<body>
<ul>
    <li class="reset">
        <a href="#resetPassword" style="text-align: center"> GroupMe </a>
    </li>

</ul>
<h2 style="text-align: center">Password Updated!</h2>
<form name="resetPasswordForm"
      th:action="@{/login}" method="get">
    <p style="text-align: center">Password has been reset successfully. Login with new password!</p>
    <a href="/login" class="btn btn-primary center">Login</a>
</form>
</body>
</html>